
<ng-container *ngIf="(pokeResponse$ | async)?.data?.list   as pokeList">
  
  <table>
    <tr><h3>Lista de pokemons</h3></tr>
    <tr>
      <app-pokefilter></app-pokefilter>
    </tr>
     <tr>
      <br>
    </tr>
    <tr>
      <th>Número</th>
      <th>Nombre</th>
      <th>Acciones</th>
    </tr>
    <tr app-pokerow 
      *ngFor="let pokemon of pokeList"
      [pokeItem]="pokemon">
    </tr>
  </table>

</ng-container>