

<div class="container">
  <h1>Iniciar sesión</h1>
  
  <form [formGroup]="loginForm" (submit)="login()">
    <input formControlName="username"
    class="tam-font" type="text" placeholder="Username">
    <br>
    <br>
    <input formControlName="password"
    class="tam-font" type="password" placeholder="Password">
    <br>
    <br>
    <button class="tam-font" type="submit" id="login-button">{{buttonText}}</button>
  </form>

  <br>
  <br>
  <div *ngIf="invalidLogin">
    Formulario invalido!
  </div>

</div>